In [2]:
import numpy as np
import pandas as pd
import pandas_profiling
import matplotlib as plt
from ggplot import *

df = pd.read_csv('Consumo_cerveja.csv')

data = df.drop(columns = 'Data')

data.head()

/home/italo/anaconda3/lib/python3.7/site-packages/statsmodels/compat/pandas.py:23: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  data_klasses = (pandas.Series, pandas.DataFrame, pandas.Panel)

,Temperatura Media (C),Temperatura Minima (C),Temperatura Maxima (C),Precipitacao (mm),Final de Semana,Consumo de cerveja (litros)
0,"27,3","23,9","32,5",0,0,25.461
1,"27,02","24,5","33,5",0,0,28.972
2,"24,82","22,4","29,9",0,1,30.814
3,"23,98","21,5","28,6","1,2",1,29.799
4,"23,82",21,"28,3",0,0,28.900

In [3]:
colunas = ["Temperatura Media (C)","Temperatura Minima (C)","Temperatura Maxima (C)","Precipitacao (mm)"]

for i in range(len(data["Consumo de cerveja (litros)"])):
        data.loc[i, "Consumo de cerveja (litros)"] = int(data.loc[i, "Consumo de cerveja (litros)"] * 1000) 


for c in colunas:
    for i in range(len(data[c])):
        data.loc[i, c] = float(data.loc[i, c].replace(",","."))
        
data.head()

,Temperatura Media (C),Temperatura Minima (C),Temperatura Maxima (C),Precipitacao (mm),Final de Semana,Consumo de cerveja (litros)
0,27.3,23.9,32.5,0,0,25461.0
1,27.02,24.5,33.5,0,0,28971.0
2,24.82,22.4,29.9,0,1,30814.0
3,23.98,21.5,28.6,1.2,1,29799.0
4,23.82,21,28.3,0,0,28900.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 6 columns):
Temperatura Media (C)          365 non-null object
Temperatura Minima (C)         365 non-null object
Temperatura Maxima (C)         365 non-null object
Precipitacao (mm)              365 non-null object
Final de Semana                365 non-null int64
Consumo de cerveja (litros)    365 non-null float64
dtypes: float64(1), int64(1), object(4)
memory usage: 17.2+ KB

In [5]:
data.corr(method='spearman')

                             Final de Semana  Consumo de cerveja (litros)
Final de Semana                     1.000000                     0.497192
Consumo de cerveja (litros)         0.497192                     1.000000

In [6]:
profile = data.profile_report(title='Consumo de Cerveja Análise')
profile.to_file(output_file="Consumo_cerveja.html")